virtual-chassis {
    auto-sw-update;
    preprovisioned;
    no-split-detection;
    member 0 {
        role routing-engine;
        serial-number NY0216440070;
    }
    member 1 {
        role routing-engine;
        serial-number NY0216410125;
    }
    member 2 {
        role line-card;
        serial-number NY0216420565;
    }
}
