system {
    login {
        user admin {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$BDlz6u.n$CAggURfxgf9JuAT1wm0HxmSUg85xW3EK829p/y7oiOsRIyBUnUgOeDT.vCUQCYbc0ez33ociC0s66u1ed7xjH1"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$BDlz6u.n$CAggURfxgf9JuAT1wm0HxmSUg85xW3EK829p/y7oiOsRIyBUnUgOeDT.vCUQCYbc0ez33ociC0s66u1ed7xjH1"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login deny-password;
            protocol-version v2;
        }
        netconf {
            ssh;
        }
    }
}
interfaces {
    irb {
        unit 0 {
            family inet {
                dhcp;
            }
        }
    }
}

protocols {
    lldp-med {
        interface all;
    }
    rstp {
        interface all;
    }
}

vlans{ 
    default {
        vlan-id 1;
        l3-interface irb.0;
    }
}

interfaces {
    xe-0/2/0 {
       unit 0 {
            family ethernet-switching {
                storm-control default;
            }
        }
    }
    xe-0/2/1 {
       unit 0 {
            family ethernet-switching {
                storm-control default;
            }
        }
    }
}

forwarding-options {
    storm-control-profiles default {
        all;
    }
}
